<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="description" content="La Palabra De Vida">
<meta name="keywords" content="Radio, Podcast, Latin America">
<meta name="author" content="Stan Denman">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>La Palabra De Vida</title>

     <script src="https://www.google.com/recaptcha/api.js" async defer></script>
     <script>
       function onSubmit(token) {
         document.getElementById("contact-form").submit();
       }
     </script>

<!-- Fav Icon -->
<link rel="icon" href="../images/logo.jpg" type="image">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="../css/font-awesome-all.css" rel="stylesheet" type="text/css">
<link href="../css/flaticon.css" rel="stylesheet" type="text/css">
<link href="../css/owl.css" rel="stylesheet" type="text/css">
<link href="../css/swiper.min.css" rel="stylesheet" type="text/css">
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../css/jquery.fancybox.min.css" rel="stylesheet" type="text/css">
<link href="../css/animate.css" rel="stylesheet" type="text/css">
<link href="../css/jquery.bootstrap-touchspin.css" rel="stylesheet" type="text/css">
<link href="../css/color.css" rel="stylesheet" type="text/css">
<link href="../css/style.css" rel="stylesheet" type="text/css">
<link href="../css/responsive.css" rel="stylesheet" type="text/css">

</head>


<!-- page wrapper -->
<body>

    <div class="boxed_wrapper">


        <!-- preloader -->
        
        <!-- preloader end -->


        <!-- main header -->
        <header class="main-header header-style-one">
            <!-- logo-box -->
            <div class="logo-box">
                <figure class="logo"><a href="/"><img src="../images/logo.jpg" alt=""></a></figure>
            </div>
            <!-- header-top -->
            <div class="header-top">
                <div class="outer-container">
                    <div class="top-inner clearfix">
                        
                        <div class="right-column pull-right">
                            <div class="update-news">
                                <!-- <p><i class="icon-megaphone"></i><span>Updates:</span> Delivers Personal Protective Equipments to North Macedonia . . .</p> -->
                            </div>
                            <div class="language-box">
                                <span>SP</span>
                                <ul class="language-list clearfix">
                                    <li><a href="/">Spanish</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- donate-btn -->
                
            </div>
            <!-- header-lower -->
            <div class="header-lower">
                <div class="outer-container">
                    <div class="outer-box">
                        
                        <div class="menu-area clearfix">
                            <!--Mobile Navigation Toggler-->
                            <div class="mobile-nav-toggler">
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                            </div>
                            <nav class="main-menu navbar-expand-md navbar-light">
                                <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        <li class="current dropdown"><a href="/">Home</a></li>
                                        <li class="dropdown"><a href="/eAbout">About</a>
                                            <ul>
                                                <li><a href="/emessage">Message</a></li>
                                                <li><a href="/eabout">History</a></li>
                                                </li>
                                            </ul>
                                        </li> 
                                        <li class="dropdown"><a href="/eMessage">Message</a>
                                            <ul>
                                                <li><a href="/eMessage">Message List</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="/ePodcast">Podcast</a>
                                            <ul>
                                                <li><a href="/ePodcast">Podcast List</a></li>
                                            </ul>
                                        </li> 
                                        <li class="dropdown"><a href="/eStation">Stations</a>
                                            <ul>
                                                <li><a href="/eStation">Station List</a></li>
                                            </ul>
                                        </li>   
                                        <li><a href="/eContact">Contact</a></li> 
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="nav-right-content clearfix">
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>

            <!--sticky Header-->
            <div class="sticky-header">
                <div class="auto-container">
                    <div class="outer-box">
                        <div class="menu-area clearfix">
                            <nav class="main-menu clearfix">
                                <!--Keep This Empty / Menu will come through Javascript-->
                            </nav>
                        </div>
                        <div class="nav-right-content clearfix">
                            <ul class="social-style-one clearfix">
                                
                            </ul>
                            
                            
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- main-header end -->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="/"><img src="../images/logo.jpg" alt="logo" title=""></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
                <div class="contact-info">
                    <h4>Contact</h4>
                    <ul>
                        <li>P. O. Box 6641, Ft Worth, Texas, 76115</li>
                        <li><a href="tel:+817-319-9264">+817-319-9264</a></li>
                        <li><a href="mailto:info@gospelradiolatinamerica.com">info@gospelradiolatinamerica.com</a></li>
                    </ul>
                </div>
                
            </nav>
        </div><!-- End Mobile Menu -->