<!-- main-footer -->
        <section class="main-footer">
            <div class="footer-top">
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget about-widget">
                                
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget ml-30">
                                <div class="widget-title">
                                    <h3>Sobre</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="links-list clearfix">
                                        <li><a href="/message">Un Mensaje</a></li>
                                        <li><a href="/about">Nuestra Historia</a></li>
                                        <li><a href="https://www.gospelradiolatinamerica.com">Gospel Radio Latin America</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget ml-30">
                                <div class="widget-title">
                                    <h3>Escucha</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="links-list clearfix">
                                        <li><a href="/station">La Palabra Radio</a></li>
                                        <li><a href="/podcast">La Palabra Podcast</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget contact-widget ml-30">
                                <div class="title-box">
                                    <span>La Palabra De Vida</span>
                                </div>
                                <div class="widget-content">
                                    <div class="single-item">
                                        <h3><a href="tel:682-900-1735">+682-900-1735</a></h3>
                                        <p><a href="mailto:gospelradiola@gmail.com">gospelradiola@gmail.com</a></p>
                                    </div>
                                    <div class="single-item">
                                        <p>P. O. Box 6641, Ft Worth, Texas, 76115</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="inner-box clearfix">
                        <div class="copyright pull-left">
                            <p>&copy; 2022 <a href="index.html">La Palabra De Vida</a> Reservados Todos Los Derechos</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- main-footer end -->


        <!-- scroll to top -->
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="far fa-long-arrow-up"></i>
        </button>

        
    </div>


    <!-- jequery plugins -->
    <script src="../js/jquery.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/owl.js"></script>
    <script src="../js/swiper.min.js"></script>
    <script src="../js/wow.js"></script>
    <script src="../js/validation.js"></script>
    <script src="../js/jquery.fancybox.js"></script>
    <script src="../js/appear.js"></script>
    <script src="../js/scrollbar.js"></script>
    <script src="../js/isotope.js"></script>
    <script src="../js/nav-tool.js"></script>
    <script src="../js/jquery.bootstrap-touchspin.js"></script>
    <script src="../js/countdown.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/text_animation.js"></script>
    <script src="../js/jquery.nice-select.min.js"></script>

    <!-- main-js -->
    <script src="../js/script.js"></script>