<!DOCTYPE html>
<%- include("partials/header"); -%> 



        <!-- Page Title -->
        <section class="page-title" style="background-image: url(assets/images/background/12.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>Sobre</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


         <!-- Message for you -->

        <div class="container">
            <div class="message">
                <p class="verse">Dios comenzó La Palabra de Vida en 1972 cuando llamó al misionero James Denman a predicar el Evangelio de Cristo a
                    los hispanohablantes de América Latina a través de la radio.</p>
                <p class="verse">En 1965, después de una breve visita a México, el hermano Denman escuchó por primera vez el llamado de Dios en su
                    vida para predicar el evangelio al pueblo de México. En ese momento, pastoreaba una iglesia en Hurst, Texas, Estados
                    Unidos. Renunció a la iglesia y él, su esposa y 4 niños pequeños se mudaron a Guadalajara, Jalisco, México en enero de
                    1967. Mientras estaban allí, se iniciaron muchas iglesias indígenas.</p>
                <p class="verse">En 1972, luego de un problema médico con uno de sus hijos, la familia se mudó a Ft Worth, Texas y comenzó Gospel
                    Radio Latin America, con el programa “La Palabra De Vida”. La primera estación en la que se escuchó el programa fue
                    KGBT Radio en Harlingen, Texas. Era un programa de treinta minutos con música y predicación evangelística. Ese
                    formato nunca ha cambiado.</p>
                <p class="verse">Solo ha habido tres predicadores en el programa en sus 52 años de existencia: el pastor Mack Guerra, seguido por el
                    hermano y luego el predicador actual y la voz del programa hoy, el pastor Elías Enríquez, quien reside en Toluca,
                    México, México.</p>
                <p class="verse">Este ministerio es apoyado únicamente por iglesias e individuos que se sienten llamados por Dios para ayudar a
                    difundir el evangelio de Cristo en todo el mundo.</p>
                <p class="verse">La Sra. Denman se fue a casa para estar con Jesús en junio de 2020. El hermano Denman falleció el 2 de marzo de 2022;
                    en el 66 aniversario de su boda, en el mismo momento, se habrían estado dando el “sí, quiero” el uno al otro. 66 años
                    antes. ¡Fue un reencuentro glorioso!</p>
                <p class="verse">Desde entonces, su hijo, Stan Denman, también pastor de una iglesia local, tomó las riendas y está haciendo avanzar el
                    ministerio, tal como su padre deseaba que fuera. Muchas grandes cosas están reservadas para este ministerio y los
                    millones de vidas que toca semanalmente con el evangelio.</p>
                <p class="verse">¡Gracias por su apoyo y oraciones!</p>
            </div>
        </div>
        
        <!-- Message for you -->


        <%- include("partials/footer"); -%>

</body><!-- End of .page_wrapper -->
</html>
