<!DOCTYPE html>
<%- include("partials/header"); -%> 


        <!-- Page Title -->
        <section class="page-title" style="background-image: url(assets/images/background/12.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>Ponerse en contacto</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Inicio</a></li>
                        <li>Contacto</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- contact-section -->
        <section class="contact-section sec-pad">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-12 col-sm-12 inner-column">
                        <div class="contact-info-inner">
                            <div class="sec-title">
                                <span class="top-text">Informacion de Contacto</span>
                                <h2>La Palabra De Vida</h2>
                            </div>
                            <div class="info-box">
                                <div class="single-item">
                                    <h4>Contacto Rápido</h4>
                                    <div class="text">
                                        <div class="icon-box"><i class="icon-phone-call"></i></div>
                                        <p>Oficina<br /><a href="tel:682-900-1735"> +682-900-1735</a></p>
                                    </div>
                                </div>
                                <div class="single-item">
                                    <h4>Direccion de Correo Electronico</h4>
                                    <div class="text">
                                        <div class="icon-box"><i class="icon-letter"></i></div>
                                        <p>Mail to<br /><a href="mailto:gospelradiola@gmail.com">gospelradiola@gmail.com</a></p>
                                    </div>
                                </div>
                                <div class="single-item">
                                    <h4>Direccion de Correo</h4>
                                    <div class="text">
                                        <div class="icon-box"><i class="icon-location"></i></div>
                                        <p>P. O. Box 6641, Ft Worth <br />Texas, 76115</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 image-column">
                        <figure class="image-box"><img src="assets/images/resource/contact-1.png" alt=""></figure>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- contact-section end -->
        
        <%- include("partials/footer"); -%>

</body><!-- End of .page_wrapper -->
</html>
