<!DOCTYPE html>
<%- include("partials/eHeader"); -%> 



        <!-- Page Title -->
        <section class="page-title" style="background-image: url(assets/images/background/12.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>About</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


         <!-- Message for you -->

        <div class="container">
            <div class="message">
                <p class="verse">God began La Palabra de Vida in 1972 when he called missionary James Denman to preach the Gospel of Christ to
                    Spanish-speakers in Latin America through the radio.</p>
                <p class="verse">In 1965, after a brief visit to Mexico, Brother Denman first heard God's call on his
                    life to preach the gospel to the people of Mexico. At the time, he was pastoring a church in Hurst, Texas, United States.
                    Joined. He resigned from the church and he, his wife and 4 young children moved to Guadalajara, Jalisco, Mexico in January
                    1967. While they were there, many indigenous churches were started.</p>
                <p class="verse">In 1972, after a medical problem with one of their children, the family moved to Ft Worth, Texas and started Gospel
                    Radio Latin America, with the program "The Word of Life". The first station on which the program was heard was
                    KGBT Radio in Harlingen, Texas. It was a thirty minute program with music and evangelistic preaching. That
                    format has never changed.</p>
                <p class="verse">There have only been three preachers on the program in its 52 years of existence: Pastor Mack Guerra, followed by Pastor
                    brother and then the current preacher and the voice of the program today, Pastor Elías Enríquez, who lives in Toluca,
                    Mexico, Mexico.</p>
                <p class="verse">This ministry is supported solely by churches and individuals who feel called by God to help
                    spread the gospel of Christ throughout the world.</p>
                <p class="verse">Mrs. Denman went home to be with Jesus in June 2020. Brother Denman passed away on March 2, 2022;
                    on the 66th anniversary of their wedding, at the same moment, they would have been saying “I do” to each other. 66 years
                    before. It was a glorious reunion!</p>
                <p class="verse">Since then, his son, Stan Denman, also a local church pastor, has taken the reins and is moving the
                    ministry, just as his father wanted it to be. Many great things are in store for this ministry and the
                    millions of lives he touches weekly with the gospel.</p>
                <p class="verse">Thank you for your support and prayers!</p>
            </div>
        </div>
        
        <!-- Message for you -->


        <%- include("partials/eFooter"); -%>

</body><!-- End of .page_wrapper -->
</html>
