<!DOCTYPE html>
<%- include("partials/eHeader"); -%> 


        <!-- banner-section -->
        <section class="banner-section">
            <div class="banner-carousel" >
                <div class="swiper-container banner-content">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="image-layer" style="background-image: url(../images/logo.png);"></div>
                            <div class="auto-container">
                                <div class="content-box">
                                    <h2></h2>
                                    
                                    
                                </div>
                            </div>
                            <div class="othre-text centred">
                                <span class=""></span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="swiper-nav-button">
                        <!-- Add Arrows -->
                        
                    </div>                    
                </div>
            </div>
        </section>     
        <!-- banner-section end -->
                                <div class="othre-text centred">
                                    <span class="eAnimation_text_word"></span>
                                </div>

        <!-- about-section -->
        <section class="about-section sec-pad">
            <div class="pattern-layer" style="background-image: url(../images/shape/shape-5.png);"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image_block_1">
                            <div class="image-box">
                                <figure class="image image-1"><img src="../images/resource/globe.png" alt=""></figure>                              
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_1">
                            <div class="content-box">
                                <div class="inner">
                                    <div class="sec-title">
                                        <span class="top-text">Welcome</span>
                                        <h2><br />La Palabra De Vida</h2>
                                    </div>
                                    <div class="text">
                                        <p>Welcome to the main page of radio broadcasts of the program "The Word of Life".
                                            Our prayer is that this program will be a blessing to you, your family and your friends.
                                            Our desire is that by listening, you will come to know Jesus Christ as Savior and Lord of your life.</p>
                                        <p>If you are already a follower of Christ, tell others about the program so they can hear the Gospel too!
                                            The Word Of Life can be heard around the world on shortwave, AM and FM radio stations, as well as on
                                            downloadable podcasts on this website.
                                            God bless you!</p>
                                    </div>
                                    <div class="btn-box">
                                        <a href="/eAbout" class="theme-btn btn-one">Read More</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-section end -->
        


        <!-- subscribe-section -->
        <section class="subscribe-section">
            <div class="bg-layer"></div>
            <div class="auto-container">
                <div class="inner-box clearfix">
                    <div class="left-column pull-left">
                        <div class="logo-box">
                        </div>
                        <div class="text">
                            <h3><i class="icon-email-open-sketched-envelope"></i>Suscribe <br />To
                                Newsletter</h3>
                        </div>
                    </div>
                    <div class="right-column pull-right clearfix">
                        <div class="form-inner">
                            <form action="/" method="post" class="subscribe-form">
                                <div class="form-group">
                                    <input type="email" name="email" placeholder="Su dirección de correo electrónico..." required="">
                                    <button type="submit">Suscribir</button>
                                </div>
                            </form>
                        </div>
                        <ul class="social-style-one clearfix">
                            <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="index.html"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- subscribe-section end -->


        <%- include("partials/eFooter"); -%>

</body><!-- End of .page_wrapper -->
</html>
