<!DOCTYPE html>
<%- include("partials/eHeader"); -%> 



        <!-- Page Title -->
        <section class="page-title" style="background-image: url(assets/images/background/12.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>A Message For You</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- Message for you -->

        <div class="container">
            <div class="message">
                <p class="verse">Did you know….</p>
                <p class="verse">That everyone on this planet has sinned, including you? (Romans 3:23)</p>
                <p class="verse">That no one is perfect, including you? (Romans 3:10)</p>
                <p class="verse">That unless you pay for your sins, you can never know God? (John 3:18)</p>
                <p class="verse">That the penalty for unpaid sins is eternal death in Hell? (Romans 6:23)</p>
                <p class="verse">That you can know God personally? (John 17:3)</p>
                <p class="verse">What God loves you? (Ephesians 3:18-19)</p>
                <p class="verse">That He loved you so much that He sent His Son, Jesus Christ, to pay for the sins you have ever committed, to
                    that, instead of eternal death, you can have eternal life? (John 3:16)</p>
                <p class="verse">That all you have to do to be washed from your sins is believe that Jesus is the Son of God and then give the
                    turn away from your sins in repentance?</p>
                <p class="verse">He longs to be known, not only as the One who paid for your sins, but also as your Friend and Lord of
                    his life?</p>
                <p class="verse">That it is not about religion, but about a relationship with Christ?</p>
                <p class="verse">That beginning a relationship with Him is as simple as (1) acknowledging that you are not perfect, and that you not only sin, but
                    you are a sinner to the core, (2) you need someone to save you from the penalty of your sins (eternal death), (3)
                    calling on Him by believing that He is the Son of God, and asking Him to save you and change you, and (4) turning from your
                    sins and making him Lord of his life?</p>
                <p class="verse">That you can start that relationship through a simple prayer of faith: just tell him that you know you are a sinner, and that
                    He is the Son of God, and that you choose to turn from your old life to His new life, and ask Him to come and save you and make you
                    new?</p>
                <p class="verse">That the life He gives you is full of joy, full of peace, without guilt or condemnation, and with a purpose?</p>
                <p class="verse">He is waiting to hear from you!</p>
            </div>
        </div>
        
        <!-- Message for you -->


        <%- include("partials/eFooter"); -%>

</body><!-- End of .page_wrapper -->
</html>
