<!DOCTYPE html>
<%- include("partials/header"); -%> 


        <!-- Page Title -->
        <section class="page-title" style="background-image: url(assets/images/background/12.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>Error</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Inicio</a></li>
                        <li>Paginas</li>
                        <li>Error</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- error-section -->
        <section class="error-section centred">
            <div class="auto-container">
                <div class="inner-box">
                    <h1>Error</h1>
                    <h2>Un Error <br />Tu publicación no se envió correctamente, inténtalo de nuevo más tarde</h2>
                    <a href="/" class="theme-btn btn-one">Inicio</a>
                </div>
            </div>
        </section>
        <!-- error-section end -->


        <!-- subscribe-section -->
        <section class="subscribe-section">
            <div class="bg-layer"></div>
            <div class="auto-container">
                <div class="inner-box clearfix">
                    <div class="left-column pull-left">
                        <div class="logo-box">
                            <div class="shape" style="background-image: url(assets/images/shape/shape-1.png);"></div>
                            <figure class="logo"><a href="index.html"><img src="assets/images/logo-3.png" alt=""></a></figure>
                        </div>
                        <div class="text">
                            <h3><i class="icon-email-open-sketched-envelope"></i>Suscribir <br />Nuestro boletín</h3>
                        </div>
                    </div>
                    <div class="right-column pull-right clearfix">
                        <div class="form-inner">
                            <form action="contact.html" method="post" class="subscribe-form">
                                <div class="form-group">
                                    <input type="email" name="email" placeholder="Your Email Address..." required="">
                                    <button type="submit">Subscribir</button>
                                </div>
                            </form>
                        </div>
                        <ul class="social-style-one clearfix">
                            <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="index.html"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- subscribe-section end -->


       <%- include("partials/footer"); -%>

</body><!-- End of .page_wrapper -->
</html>
