<!DOCTYPE html>
<%- include("partials/header"); -%> 


        <!-- banner-section -->
        <section class="banner-section">
            <div class="banner-carousel" >
                <div class="swiper-container banner-content">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="image-layer" style="background-image: url(../images/logo.png);"></div>
                            <div class="auto-container">
                                <div class="content-box">
                                    <h2></h2>
                                    
                                    
                                </div>
                            </div>
                            <div class="othre-text centred">
                                <span class=""></span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="swiper-nav-button">
                        <!-- Add Arrows -->
                        
                    </div>                    
                </div>
            </div>
        </section>     
        <!-- banner-section end -->

                            <div class="othre-text centred">
                                <span class="animation_text_word"></span>
                            </div>

        <!-- about-section -->
        <section class="about-section sec-pad">
            <div class="pattern-layer" style="background-image: url(../images/shape/shape-5.png);"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image_block_1">
                            <div class="image-box">
                                <figure class="image image-1"><img src="../images/resource/globe.png" alt=""></figure>                              
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_1">
                            <div class="content-box">
                                <div class="inner">
                                    <div class="sec-title">
                                        <span class="top-text">Bienvenido</span>
                                        <h2><br />La Palabra De Vida</h2>
                                    </div>
                                    <div class="text">
                                        <p>Bienvenidos a la página principal de transmisiones radiales del programa “La Palabra De Vida”.
                                            Nuestra oración es que este programa sea una bendición para usted, su familia y sus amigos.
                                            Nuestro deseo es que al escuchar, llegues a conocer a Jesucristo como Salvador y Señor de tu vida.</p>
                                        <p>Si ya es un seguidor de Cristo, ¡cuéntele a otros sobre el programa para que ellos también puedan escuchar elevangelio!
                                            La Palabra De Vida se puede escuchar en todo el mundo en estaciones de radio de onda corta, AM y FM, así como en
                                            podcasts descargables en este sitio web.
                                            ¡Que Dios te bendiga!</p>
                                    </div>
                                    <div class="btn-box">
                                        <a href="/about" class="theme-btn btn-one">Lee Mas</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-section end -->
        


        <!-- subscribe-section -->
        <section class="subscribe-section">
            <div class="bg-layer"></div>
            <div class="auto-container">
                <div class="inner-box clearfix">
                    <div class="left-column pull-left">
                        <div class="logo-box">
                        </div>
                        <div class="text">
                            <h3><i class="icon-email-open-sketched-envelope"></i>Suscribirse <br />a
                                Nuestro boletín</h3>
                        </div>
                    </div>
                    <div class="right-column pull-right clearfix">
                        <div class="form-inner">
                            <form action="/" method="post" class="subscribe-form">
                                <div class="form-group">
                                    <input type="email" name="email" placeholder="Su dirección de correo electrónico..." required="">
                                    <button type="submit">Suscribir</button>
                                </div>
                            </form>
                        </div>
                        <ul class="social-style-one clearfix">
                            <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="index.html"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- subscribe-section end -->


        <%- include("partials/footer"); -%>

</body><!-- End of .page_wrapper -->
</html>
