<!DOCTYPE html>
<%- include("partials/header"); -%> 



        <!-- Page Title -->
        <section class="page-title" style="background-image: url(assets/images/background/12.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>Un Mensaje Para Usted</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- Message for you -->

        <div class="container">
            <div class="message">
                <p class="verse">Sabías….</p>
                <p class="verse">¿Que todas las personas en este planeta han pecado, incluyéndote a ti? (Romanos 3:23)</p>
                <p class="verse">¿Que nadie es perfecto, incluyéndote a ti? (Romanos 3:10)</p>
                <p class="verse">¿Que a menos que pagues por tus pecados, nunca podrás conocer a Dios? (Juan 3:18)</p>
                <p class="verse">¿Que la pena por los pecados no pagados es la muerte eterna en el Infierno? (Romanos 6:23)</p>
                <p class="verse">¿Que puedes conocer a Dios personalmente? (Juan 17:3)</p>
                <p class="verse">¿Que Dios te ama? (Efesios 3:18-19)</p>
                <p class="verse">¿Que Él te amó tanto que envió a Su Hijo, Jesucristo, para pagar por los pecados que alguna vez has cometido, para
                    que, en lugar de la muerte eterna, puedas tener la vida eterna? (Juan 3:16)</p>
                <p class="verse">¿Que todo lo que tienes que hacer para ser lavado de tus pecados es creer que Jesús es el Hijo de Dios y luego dar la
                    espalda a tus pecados en arrepentimiento?</p>
                <p class="verse">Él anhela que lo conozcan, no sólo como Aquel que pagó por sus pecados, sino también como su Amigo y Señor de
                    ¿su vida?</p>
                <p class="verse">¿Que no se trata de religión, sino de una relación con Cristo?</p>
                <p class="verse">Que comenzar una relación con Él es tan simple como (1) reconocer que no eres perfecto, y que no solo pecas, sino que
                    eres un pecador hasta la médula, (2) que necesitas a alguien que te salve de la pena de tus pecados (muerte eterna), (3)
                    invocándolo a Él creyendo que Él es el Hijo de Dios, y pidiéndole que te salve y te cambie, y (4) volviéndote de tus
                    pecados y haciéndolo Señor de ¿su vida?</p>
                <p class="verse">Que puedes comenzar esa relación a través de una simple oración de fe: solo dile que sabes que eres un pecador, y que
                    Él es el Hijo de Dios, y que eliges alejarte de tu vida anterior a Su nueva vida, y pedirle que venga a salvaros y os haga
                    nuevos?</p>
                <p class="verse">¿Que la vida que Él te da está llena de gozo, llena de paz, sin culpa ni condenación, y con un propósito?</p>
                <p class="verse">¡Él está esperando saber de ti!</p>
            </div>
        </div>
        
        <!-- Message for you -->


        <%- include("partials/footer"); -%>

</body><!-- End of .page_wrapper -->
</html>
