<!DOCTYPE html>
<%- include("partials/header"); -%> 



        <!-- Page Title -->
        <section class="page-title" style="background-image: url(assets/images/background/carradio.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>Estaciones</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- events-page-section -->
        <section class="video-section" style="background-image: url(assets/images/background/solidback.jpg);">
            <div class="auto-container">
                <div class="video-carousel owl-carousel owl-theme owl-dots-none">
                    <div class="row clearfix">
                        
                        <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                            <div class="content-box">
                                <div class="sec-title light">
                                    <span class="top-text">Audio</span>
                                    <h2>Salvacion La Idea De Dios Soberano</h2>
                                </div>
                                <div class="text">
                                    <p></p>
                                </div>
                                <div class="video-btn">
                                    <audio controls> <source src="../audio/SalvacionLaIdeaDeDiosSoberano.mp3" type="audio/mpeg"> </audio>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="video-section" style="background-image: url(assets/images/background/solidback.jpg);">
            <div class="auto-container">
                <div class="video-carousel owl-carousel owl-theme owl-dots-none">
                    <div class="row clearfix">
                        
                        <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                            <div class="content-box">
                                <div class="sec-title light">
                                    <span class="top-text">Audio</span>
                                    <h2>Cristianos Todos</h2>
                                </div>
                                <div class="text">
                                    <p></p>
                                </div>
                                <div class="video-btn">
                                    <audio controls> <source src="../audio/LPDV-CristianosTodos.mp3" type="audio/mpeg"> </audio>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="video-section" style="background-image: url(assets/images/background/solidback.jpg);">
            <div class="auto-container">
                <div class="video-carousel owl-carousel owl-theme owl-dots-none">
                    <div class="row clearfix">
                        
                        <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                            <div class="content-box">
                                <div class="sec-title light">
                                    <span class="top-text">Audio</span>
                                    <h2>La Trinidad Cooperdando En Nuestra Salvacion</h2>
                                </div>
                                <div class="text">
                                    <p></p>
                                </div>
                                <div class="video-btn">
                                    <audio controls> <source src="../audio/LaTrinidadCooperandoEnNuestraSalvacion.mp3" type="audio/mpeg"> </audio>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="video-section" style="background-image: url(assets/images/background/solidback.jpg);">
            <div class="auto-container">
                <div class="video-carousel owl-carousel owl-theme owl-dots-none">
                    <div class="row clearfix">
                        
                        <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                            <div class="content-box">
                                <div class="sec-title light">
                                    <span class="top-text">Audio</span>
                                    <h2>Andando Con El Cristo Viviente</h2>
                                </div>
                                <div class="text">
                                    <p></p>
                                </div>
                                <div class="video-btn">
                                    <audio controls> <source src="../audio/LPDV-AndandoConElCristpViviente.mp3" type="audio/mpeg"> </audio>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="video-section" style="background-image: url(assets/images/background/solidback.jpg);">
            <div class="auto-container">
                <div class="video-carousel owl-carousel owl-theme owl-dots-none">
                    <div class="row clearfix">
                        
                        <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                            <div class="content-box">
                                <div class="sec-title light">
                                    <span class="top-text">Audio</span>
                                    <h2>La Naturaleza Del Hombre</h2>
                                </div>
                                <div class="text">
                                    <p></p>
                                </div>
                                <div class="video-btn">
                                    <audio controls> <source src="../audio/LaNaturalezaDelHombre.mp3" type="audio/mpeg"> </audio>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            <nav class="page" aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    </li>
                </ul>
            </nav>
            
        </section>
        <!-- events-page-section -->
            

        <%- include("partials/footer"); -%>

</body><!-- End of .page_wrapper -->
</html>
